<ng-container *ngIf="answer">
    <ng-container *ngIf="!answer.signaled || authService.isSignaler(answer.signaledBy) || isAdmin">
        <article [ngClass]="{ 'is-signaled': answer.signaled }">
            <div class="btn">
                <button class="delete" (click)="onDelete(answer.tid)" *ngIf="isAdmin && answer.signaled && answer.tid"><img src="../../../assets/trash-2.svg"></button>
                <div class="signal-info">
                    <button (click)="toggleSignaled()" [ngClass]="{ 'is-signaled': answer.signaled }"><img src="../../../assets/flag.svg"></button>
                    <p *ngIf="answer.signaled">Signaled by : {{answer.signaledBy}}</p>
                    <p *ngIf="!answer.signaled">Signal this answer</p>
                </div>
            </div>
            <div class="content">
                <a class="q-link" *ngIf="showQLink" [routerLink]="['/questions', answer.questionTid]">Go to question</a>
                <p><strong>Answer : </strong>{{answer.content}}</p>
                <div class="info" *ngIf="date">
                    <p>By <a (click)="goToUser()">{{answer.username}}</a> - {{date.toLocaleString('fr-FR')}}</p>
                    <a class="mail" href="mailto:{{answer.email}}">{{answer.email}}</a>
                </div>
            </div>
        </article>
    </ng-container>
</ng-container>