@import 'conf';
@import 'font';
@import 'global';


article{
    @include center-row;
    gap: 3rem;
    background-color: white;
    color: #273454;
    border: 2px solid #273454;
    width: 80vw;
    height: fit-content;
    font-size: 1.5rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0.3rem solid #00D86B;
    .btn{
        @include center-row;
        gap: 2rem;
        width: 20%;
        .signal-info{
            @include center-col;
            gap: 0.5rem;
        }
        button{
            width: 2.5rem;
            height: 2.5rem;
            padding: 0.5rem;
            @include center-col;
            border: 2px black solid;
            img {
                width: 2rem;            
            }
        }
        .delete{
            background-color: #db1313;
        }
        .is-signaled{
            background-color: #FF6914;
        }
        
    }
    .content{
        @include center-col-form;
        gap: 1rem;
        width: 70%;
        height: fit-content;
        .info{
            @include center-col-form();
            gap: 1rem;
        }
        a{
            position: relative;
            text-decoration: none;
            color: #00D86B;
            font-weight: 700;
            &:after{
                position: absolute;
                left: 0;
                bottom: -0.2rem;
                content: '';
                width: 100%;
                height: 100%;
                border-bottom: 2px solid #00D86B;
                transform: scaleX(0);
                transition: 0.3s;
            }

            &:hover{
                cursor: pointer;
                &::after{
                    transform: scaleX(0.8);
                }
            }
        }

        .mail{
                
            position: relative;
            text-decoration: none;
            color: #273454;
            font-weight: 700;
            &:after{
                position: absolute;
                left: 0;
                bottom: -0.2rem;
                content: '';
                width: 100%;
                height: 100%;
                border-bottom: 2px solid #273454;
                transform: scaleX(0);
                transition: 0.3s;
            }

            &:hover{
                cursor: pointer;
                &::after{
                    transform: scaleX(0.8);
                }
            }
        }

        .q-link{
            position: relative;
            text-decoration: none;
            color: #FF6914;
            font-weight: 700;
            &:after{
                position: absolute;
                left: 0;
                bottom: -0.2rem;
                content: '';
                width: 100%;
                height: 100%;
                border-bottom: 2px solid #FF6914;
                transform: scaleX(0);
                transition: 0.3s;
            }

            &:hover{
                cursor: pointer;
                &::after{
                    transform: scaleX(0.8);
                }
            }
        }
    }
}

.is-signaled{

    background-color: #ffe098;
    border-color: #db1313;

}