@import 'conf';
@import 'font';
@import 'global';

.checked{
    color:#FCFF98;
    box-shadow:inset 1px 1px 10px #333;
}

section{
    @include center-col;
    
    .nav{
        position: relative;
        @include center-row;
        width: 100%;
        justify-content: space-between;
        .fields{
            @include center-row;
            width: 80%;
            justify-content: space-evenly;
            form{
                border: none;
                background-color: transparent;
                box-shadow: none;
            }
        }
        .userpage{
            width: 20%;
            font-size: 3rem;
        }
        
    }

    .list{
        @include center-col;
        gap: 1rem;
        &-item{
            transform: translateZ(0);
            transform: scale(0.9);
            transition: 0.3s;
                &:hover{
                    transform: scale(0.95);
                }
        }
    }
    
}