<section>
    <div class="nav">
        <h1 class="userpage">Page of {{username}}</h1>
        <div class="fields">
            <a class="action-btn" [ngClass]="{'checked': isQuestionView}" (click)="changeDiplay(true)">Questions</a>
            <a class="action-btn" [ngClass]="{'checked': !isQuestionView}" (click)="changeDiplay(false)">Answers</a>
            <form [formGroup]="filterForm" *ngIf="isAdmin" class="select">
                <select class="select" formControlName="signalFilter" >
                    <option value="all">All</option>
                    <option value="signaled">signaled</option>
                </select>
            </form>
        </div>
    </div>
    <div *ngIf="isQuestionView" class="list">
        <ng-container *ngIf="questions?.length">
            <ng-container *ngFor="let question of questions">
                <app-question class="list-item" [question]="question" [thumbnail]="true" (signal)="initData()"></app-question>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="!questions?.length">
            <p class="noItem">No question</p>
        </ng-container>
    </div>
    
    <div *ngIf="!isQuestionView" class="list">
        <ng-container *ngIf="answers?.length">
            <ng-container *ngFor="let answer of answers">
                    <app-answer class="list-item" [showQLink]="true" [answer]="answer"  (signaled)="initData()"></app-answer>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="!answers?.length">
            <p class="noItem">No answer</p>
        </ng-container>
    </div>
</section>
