@import 'conf';
@import 'font';
@import 'global';

section{
    width: 80%;
    margin: 0 auto;
    @include center-col;
    gap: 2rem;

    header{
        @include center-row;
        justify-content: space-evenly;
        width: 100%;
        h1{
            font-size: 3rem;
        }
    }
    .questions{
        @include center-col-wrap;
        gap: 1.5rem;

        .q{
            transform: translateZ(0);
            transform: scale(0.9);
            transition: 0.3s;
            &:hover{
                transform: scale(0.95);
            }
        }
    }
    
}