
<section >
    <header>
        <h1 *ngIf="authService.checkStorageToken()">Bonjour {{username}}</h1>
        <h1 *ngIf="!authService.checkStorageToken()">Bonjour</h1>
        <button *ngIf="authService.checkStorageToken()" class="action-btn"><a [routerLink]="['questions/create']">+ Ask New Question</a></button>
        <form [formGroup]="filterForm">
            <select class="select" formControlName="langFilter" >
                <option value=''>No filter</option>
                <option *ngFor="let lang of languages" [value]="lang.name">{{ lang.name }}</option>
            </select>
        </form>
    </header>
    
    <div class="questions" *ngIf="questions.length">
        <ng-container *ngFor="let question of questions">
            <app-question class="q" [question]="question" [thumbnail]="true" (signal)="onSignalEvent()"></app-question>
        </ng-container>
    </div>
    <div *ngIf="!questions.length">
        <p class="noItem">No question found</p>
    </div>
</section>