@import 'conf';
@import 'font';
@import 'global';

section{
    border: 2px solid white;
    border-radius: 2rem;
    padding: 3rem;
    @include center-col();
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 1rem;
    form{
        @include center-col();
        .fields{
            @include center-col-form();
            label{
                font-size: 2rem;
            }
        }
        button{
            margin-top: 1rem;
        }
    }
}