<section>
    <h1># Share your Answer</h1>
    <form #createForm="ngForm">
        <div class="fields">
            <label for="content">Content</label>
            <textarea name="content" cols="100" rows="10" minlength="10" placeholder="minimum 10 characters" ngModel required></textarea>
        </div>
        <button class="action-btn" type="submit" (click)="onSubmitCreateAnswer(createForm)" [disabled]="createForm.invalid">Share your answer</button>
    </form>
</section>
