@import 'conf';
@import 'font';
@import 'global';


header{
    h2{
        font-size: 3rem;
    }
    nav{
        position: relative;
        width: 100%;
        height: 4rem;
        margin-bottom: 2rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
        background-color:  #0d111c;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        h2{
            position: absolute;
            left: 2%;
        }
        
        form{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            
        }
        .fields{
            label{
                font-size: 1.5rem;
            }
            input{
                font-size: 1.5rem;
            }
        }
        a{
            @include center-row;
            position: relative;
            text-decoration: none;
            padding: 0 1rem;
            color: #FCFF98;
            font-weight: bold;
            font-size: 1.5rem;
            transition: 0.2s;
            &:after{
                position: absolute;
                left: 0;
                bottom: -0.3rem;
                content: '';
                width: 100%;
                height: 100%;
                border-bottom: 4px solid #FCFF98;
                transform: scaleX(0);
                transition: 0.3s;
            }

            &:hover{
                cursor: pointer;
                color: #FCFF98;
                &::after{
                    transform: scaleX(0.5);
                }
            }
            &.active{
                color: #FFC300;
                font-weight: 900;
            }            
        }
        
    }
}