<header>
    <nav>
        <h2>ZeniFlow</h2>
        <ng-container *ngIf="notificationService.homePageActive">
            <form #searchForm="ngForm" (keyup)="onSearchEvent(searchForm)">
                <div class="fields">
                    <label for="search"><input type="text" name="search" minlength="3" placeholder="Search a title" ngModel required></label>
                </div>
            </form>
        </ng-container>

        <ng-container *ngIf="!authService.checkStorageToken()">
            <a [ngClass]="{ 'active': notificationService.homePageActive }" (click)="onHome()">Home</a>
            <a [ngClass]="{ 'active': notificationService.loginPageActive }" (click)="onLogin()">Login</a>
            <a [ngClass]="{ 'active': notificationService.registerPageActive }" (click)="onRegister()">Register</a>
        </ng-container>

        <ng-container *ngIf="authService.checkStorageToken()">
            <a [ngClass]="{ 'active': notificationService.homePageActive }" (click)="onHome()">Home</a>
            <a [ngClass]="{ 'active': notificationService.userPageActive }" (click)="onMyPage()">My Page</a>
            <a (click)="onLogout()">Logout</a>
        </ng-container>
    </nav>
</header>
