@import 'conf';
@import 'font';
@import 'global';

section{
    @include center-col;
    width: 100%;
    gap: 1rem;
}

.form{
    transform: scale(0);
    transition: 0.3s;
}
.is-visible{
    transform: scale(1);
    transition: 0.3s;
}