<section>
    <ng-container *ngIf="(question && !question.question.signaled) || (question && (isAdmin || authService.isSignaler(question.question.signaledBy)))">
        <button *ngIf="!question.question.signaled && authService.checkStorageToken()" class="action-btn" (click)="onAnswer()">+ Answer</button>
        <app-question [question]="question.question" [thumbnail]="false" (signal)="onSignalEvent()" (deleted)="onDelete()"></app-question>
        <ng-container *ngIf="question.answers.length">
            <app-answer *ngFor="let ans of question.answers" [answer]="ans" (signaled)="onSignalEvent()"></app-answer>
        </ng-container>
        <ng-container *ngIf="!question.answers.length">
            <p class="noItem">This question has not been answered yet.</p>
        </ng-container>
        <ng-container *ngIf="authService.checkStorageToken()">
            <app-create-answer class="form" [ngClass]="{ 'is-visible': answerFormVisible }" [questionId]="question.question.tid" (answered)="onSignalCreateEvent()"></app-create-answer>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="question && question.question.signaled">
        <p class="noItem">This question has been signaled</p>
    </ng-container>
</section>
