@mixin center-row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: row nowrap;
}

@mixin center-col {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column nowrap;
}

@mixin center-col-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-flow: column nowrap;
}
@mixin center-row-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
}

@mixin center-col-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    flex-flow: row wrap;
}