a{
    &:hover{
        cursor: pointer;
    }
}
button{
    padding: 0;
    &:hover{
        cursor: pointer;
    }
}

.noItem{
    font-size: 2.5rem;
    color: #FCFF98;
}

.action-btn{
    width: fit-content;
    padding: 0.5rem;
    color: white;
    background-color: #07434f;
    font-size: 2rem;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-top-right-radius: 1rem;
    border: black solid 2px;
    a{
        text-decoration: none;
        color: white;
    }

    &:active{
        color:#FCFF98;
        box-shadow:inset 1px 1px 10px #333;
        a{
            color:#FCFF98;
        }
    }
}

.select{
    width: fit-content;
    padding: 0.5rem;
    color: white;
    background-color: #07434f;
    border: black solid 2px;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}