<section>
    <form #registerForm="ngForm" (submit)="submitRegister(registerForm)">
        <div class="fields">
            <label for="username">Username</label>
            <input type="text" name="username" ngModel required>
        </div>
        <div class="fields">
            <label for="email">Email</label>
            <input type="email" name="email" ngModel required>
        </div>
        <div class="fields">
            <label for="pwd">Password</label>
            <input type="password" name="pwd" ngModel required>
        </div>
        <button class="action-btn" type="submit">Register</button>
    </form>
</section>