<ng-container *ngIf="question">
    <ng-container *ngIf="!question.signaled || authService.isSignaler(question.signaledBy) || isAdmin">
        <article [ngClass]="{ 'is-signaled': question.signaled }">
            <div class="btn">
                <button class="delete" (click)="onDelete(question.tid)" *ngIf="isAdmin && question.signaled && question.tid"  ><img src="../../../assets/trash-2.svg"></button>
                <div class="signal-info">
                    <button (click)="toggleSignaled()" [ngClass]="{ 'is-signaled': question.signaled }"><img src="../../../assets/flag.svg"></button>
                    <p *ngIf="question.signaled">Signaled by : {{question.signaledBy}}</p>
                    <p *ngIf="!question.signaled">Signal this question</p>
                </div>
            </div>
            <div *ngIf="thumbnail" class="content">
                <a class="titl" [routerLink]="['/questions', question.tid]">
                <h2>{{question.title}}</h2>
                </a>
                <div class="info" *ngIf="date">
                    <p>
                        By <a (click)="goToUser()">{{question.username}}</a> - {{date.toLocaleString('fr-FR')}} 
                    </p>
                    <a class="mail" href="mailto:{{question.email}}">{{question.email}}</a>
                    <div class="category">Language : {{question.language}}</div>
                </div>
            </div>
            
            <div *ngIf="!thumbnail" class="content">
                <h2>{{question.title}}</h2>
                <p class="content">{{question.content}}</p>
                <div class="info" *ngIf="date">
                    <p>
                        By <a [routerLink]="['/users', question.username]">{{question.username}}</a> - {{date.toLocaleString('fr-FR')}} 
                    </p>
                    <a class="mail" href="mailto:{{question.email}}">{{question.email}}</a>
                </div>
            </div>
        </article>
    </ng-container>
</ng-container>