@import 'conf';
@import 'font';
@import 'global';

section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 2rem;
    padding: 3rem;
    @include center-col();
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    form{
        @include center-col();
        gap: 1rem;
        .fields{
            @include center-col-form;
            font-size: 2rem;
        }
        button{
            margin-top: 1rem;
        }
    }
}