<section>
    <form #loginForm="ngForm" (submit)="submitLogin(loginForm)">
        <div class="fields">
            <label for="usr">Username</label>
            <input type="text" name="usr" ngModel required>
        </div>
        <div class="fields">
            <label for="pwd">Password</label>
            <input type="password" name="pwd" ngModel required>
        </div>
        <button class="action-btn" type="submit">Login</button>
    </form>
</section>