/* You can add global styles to this file, and also import other style files */
@import 'conf';
@import 'font';
@import 'global';

html {
    font-size: 16px;
    height: 100vh;
    font-family: $font;
}

body {
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #273454;
    color: white;
    p {
        margin: 0;
    }
}

