@import 'conf';
@import 'font';
@import 'global';

section{
    width: 60%;
    
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 2rem;
    padding: 1rem;
    @include center-col();
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 1rem;
    form{
        padding: 0;
        height: fit-content;
        @include center-col-form();
        input{
            font-size: 2rem;
        }
        .fields{
            @include center-col-form();
            label{
                font-size: 2rem;
            }
            
        }
        textarea{
            font-size: 1.2rem;
        }
        button{
            margin-top: 1rem;
            align-self: center;
        }
        
    }
}