<section>
    <h1># Ask a New Question</h1>
    <form #createForm="ngForm">
        <div class="fields">
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="Should end by '?'" ngModel required>
        </div>
        <div class="fields">
            <label for="language">Language</label>
            <select class="select" type="text" name="language" ngModel required>
                <option value="">Choose a language</option>
                <ng-container *ngIf="languages">
                    <option *ngFor="let lang of languages" value={{lang.name}}>{{lang.name}}</option>
                </ng-container>
            </select>
        </div>
        <div class="fields">
            <label for="content">Content</label>
            <textarea name="content" cols="100" rows="20" minlength="10" placeholder="minimum 10 characters" ngModel required></textarea>
        </div>
        <button class="action-btn" type="submit" (click)="onSubmitCreateQuestion(createForm)" [disabled]="createForm.invalid">Ask this question</button>
    </form>
</section>
